
/*mystyle*/
h1.h1_1{color:#2A85A0;
font-family:garamond;font-size:46px;line-height: 60px;}
h1.h1_2{color:#2A85A0;
font-family:garamond;font-size:38px;}
span,a{font-family: "trebuchet ms";font-size: 16px;line-height: 28px;}
p{text-indent: 2em;}

@media (max-width:376px ) {
	h1.h1_1{
		font-size:36px;
		}
	h1.h1_2{
		font-size:29px;
		}
	span{
		font-size: 14px;
	}
	a{
		font-size: 14px;
	}
	.introd{font-size: 10px;}
	.introd span{font-size: 22px;}
	.content{width: 60%;height: 40%;}
	.content img{width: 85%;}
}


.disi_h2{
	text-align: left;
	font-family:garamond;font-size:22px;
	border-bottom: 1px solid #000;
	width: 120px;
	height: 36px;
}
.main{
	padding:0 0 0 50px;
	
}
.row{margin-top:20px ;}

/*a.a_translate:hover{
	transform: translate(10px,0px);
	-ms-transform: translate(10px,0px);
	-webkit-transform: translate(10px,0px);
	-o-transform: translate(10px,0px);
	-moz-transform: translate(10px,0px);
}
.a_translate{
	transition:translate 2s
	-moz-transition:-moz-translate 2s;
	-webkit-transition: -webkit-translate 2s;
	-o-transition: -o-translate 2s;
	
}*/
.dis_img1{
	padding-top: 20px;
}
.disi_foot{background-image: url(../img/designers/foot_bc.png);color:#ccc;}
.label-default{
	background:#222222;
	padding: 5px 14px;
	margin-right: 2px;
	font-family: "trebuchet ms";
	font-size: 16px;
	line-height: 38px;
	font-weight: normal;
	color: #ccc;}
.footcol{padding-left: 50px;}
.white{color: white;}
.bold{font-weight: bold;}
.feedimg{margin-top: 40px;}
.feedimg img{
	margin:4px 4px;
	cursor: pointer;
	
	transition:transform 2s;
	-moz-transition:-moz-transform 2s;
	-webkit-transition: -webkit-transform 2s;
	-o-transition: -o-transform 2s;
}
.feedimg img:hover{
	transform: scale(1.3);
	-ms-transform: scale(1.3);	/* IE 9 */
	-webkit-transform: scale(1.3);	/* Safari 和 Chrome */
	-o-transform: scale(1.3);	/* Opera */
	-moz-transform: scale(1.3);
}
/*designer*/
/*desi_child*/
.back_ span{font-weight: bold;}
.back_ span a{
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
	}
/*mystyle*/
/*nav部分*/
#nav{
	
	background: #28282F;
	padding: 20px 0 30px 0;}
.nav1{
	margin: 10px auto;
	/*text-align: center;*/
	/*margin: 10px 0 10px 50px;*/
	height: 2px;
	width: 100px;
	border-top: 1px solid #444449;
	border-bottom: 1px solid #050506;
}
#nav h4{
	color: #FFFFFF;
	font-weight: 800;
	text-align: center;
	font-family:garamond;
}

@media (max-width:376px ) {
	#nav2 p{
	color: #ebeae8;
	font-size: 12px;
	padding: 20px 30px 5px 30px;
	font-family: "trebuchet ms";
	}	
	#nav2,#nav3,#nav4{
		margin-bottom: 30px;
	}

}
@media (min-width:376px ) and (max-width:769px ) {
	#nav2 p{
	color: #ebeae8;
	font-size: 14px;
	padding: 20px 60px 0px 60px;
	font-family: "trebuchet ms";
	}
	#nav2{
		margin-bottom: 0px;
	}
	#nav3{
		margin-bottom: 140px;
	}
	#nav4{
		margin-bottom: 60px;
	}
	.content{width: 65%;height:50%;}
	.content img{width: 28%;}
	
}
@media (min-width:769px ) {
	#nav2 p{
	color: #ebeae8;
	font-size: 14px;
	padding: 20px 10px 0px 60px;
	font-family: "trebuchet ms";
	}
	.content{width: 60%;height: 60%;}
	.content img{width: 29%;}

}
#nav3 ul{
	margin: 20px 0 0 0px;
}
#nav3 ul li{
	list-style-type: none;
	display: inline-block;
	padding: 5px;
	padding-top: 15px;
}
#nav3 ul li a{
	color: #ebeae8;
	background: #232323;
	padding: 5px;
}
#nav4{font-family: "trebuchet ms";}
#nav4 p{
	color: #EBEAE8;
	font-size: 16px;
}
#nav4 mailto{
	color: #f1f0ef;
}
#nav4 b{
	color: #FFFFFF;
}
#nav4-2{
	margin: 40px 0 0px 0;
}
#nav4-1{
	color: #18a3b7;
	font-size: 20px;
}
#nav6{
	margin-top:40px;

}
#nav6 img{
	width: 90%;
	cursor: pointer;	
	transition:transform 2s;
	-moz-transition:-moz-transform 2s;
	-webkit-transition: -webkit-transform 2s;
	-o-transition: -o-transform 2s;
	}
#nav6 img:hover{
	transform: scale(1.3);
	-ms-transform: scale(1.3);	/* IE 9 */
	-webkit-transform: scale(1.3);	/* Safari 和 Chrome */
	-o-transform: scale(1.3);	/* Opera */
	-moz-transform: scale(1.3);
}



/*footer部分*/
.footer{
	background: #232323;
}
.footer p{
	color:white;
	line-height: 40px;
	font-family: "trebuchet ms";
}

@media (max-width:376px ) {
	.footer p{
		font-size: 8px;
	}
}
@media (min-width:376px ) and (max-width:769px ) {
	.footer p{
		font-size: 12px;
	}
}
@media (min-width:769px ) {
	.footer p{
		font-size: 14px;
	}
}
/*indexbottom*/
/*弹出层*/
 .black_overlay{
             display: none; 
             position: absolute;  
 
             width: 100%;  
             height: 100%;  
             background-color: black;  
             z-index:1001;  
             -moz-opacity: 0.8;  
             opacity:0.8;  
             filter: alpha(opacity=80);  
        } 
        .content {
            display: none;  
            position: absolute; 

            width: 62%; 
            height: 65%; 
            padding: 16px;
            border: 4px solid #2A85A0;;
            background-color: white;
            z-index:1002;
            overflow: auto;
        } 
        .content img{margin: 1.5%;}
        .content button{
        	background:#B94A48; 
        	border-radius: 15px;
        	border-color:#ccc;
        	position: absolute;
        	top: 6px;right:2px;width: 20px;height: 30px;line-height: 30px;
        	}
        .content button span{color: white;font-weight: bold;}
        .introd{
        	font-family: "trebuchet ms";
        	font-size: 16px;
        	line-height: 26px;
        	font-weight: 550;
        	text-indent: 2em;
        }
        .introd span{
        	font-size: 24px;
        	color: #2A85A0;
        }