*{margin: 0;padding: 0;}
ul,li,a{list-style-type: none;}a{text-decoration: none;}
body{font-size: 14px;width: 1440px;font-family: "MS Reference Sans Serif";margin: 0 auto;}
.b_radius{border-radius: 10px;}

.logo{position: absolute;left: 60px;}
nav{
    background-color: #333;
    height: 70px;
    width: 100%;
}
nav ul{margin-left: 680px;}
nav ul li{float: left;}
nav ul li a{
    padding: 0 30px;
    color: white;
    display: block;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
}
nav ul li a:hover{background-color: black;}
/**/
.banner{
    width: 100%;height: 600px;
    background: url("../img/search.jpg") no-repeat center center;
    position: relative;
}
.search{
    padding: 5px;
    background-color: rgba(0,0,0,0.7);
    height: 50px;line-height: 50px;width: 550px;
    position: absolute;top:260px;left: 460px;

}
#s_text{
    height: 45px;
    width: 74%;
    font-size: 22px;color: #666;
    padding-left: 10px;
    background-color: #EEE;float: left;
}
#s_btn{
    display: block;float: left;margin-left: 5px;
    height: 49px;
    line-height: 49px;text-align: center;
    width: 22%;
    background-color: #EEE;
    font-size: 22px;color: #666;
    cursor: pointer;
}
article{
    /*border: 1px solid black;*/
    width: 85%;
    margin: 0 auto;
}
.title{text-align: center;margin: 30px 0;}
.s0{
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    line-height: 22px;
    float: left;
    margin: 13px;
    cursor: pointer;
}
.h1_1{font-size: 48px;color: #666;font-weight: 800;}
.span_1{font-size: 16px;color: #666;font-weight: 500;}
.d_green{
    position: absolute;
    background-color: #59b200;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 90px;height: 26px;line-height: 26px;
}
.s_gray{
    color: #666;
    letter-spacing: 2px;
}
.s_gray:hover{text-decoration: underline;}
.s_orange{
    color: #ff6600;line-height: 36px;
}
.s_orange>span{font-size: 20px;}
.f_right{float: right;color: #666;line-height: 36px;margin-right: 10px;}
footer{width: 100%;clear: both;}
.foot1{
    width: 100%;
    height: 300px;
    background-color: #222;

}
.foot0{width: 85%;margin: 0 auto;}

.foot1_box{width: 355px; line-height: 38px;margin: 30px 30px 0 20px;float: left}

.foot1_box>span{color: #ccc;font-size: 26px;}
.foot1_box li a{color: #777;font-size: 18px;font-weight: 600;}

.foot2{
    background-color: #000;
    width: 100%;
    height: 80px;
    color: #777;
    text-align: center;
    line-height: 80px;
}