*{margin: 0;padding: 0;}
ul,li,a{list-style-type: none;}a{text-decoration: none;}
body{font-size: 14px;width: 1440px;font-family: "MS Reference Sans Serif";margin: 0 auto;}
.b_radius{border-radius: 10px;}
/*导航部分*/
.logo{position: absolute;left: 60px;}
nav{
    background-color: #333;
    height: 70px;
    width: 100%;
}
nav ul{margin-left: 680px;}
nav ul li{float: left;}
nav ul li a{
    padding: 0 30px;
    color: white;
    display: block;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
}
nav ul li a:hover{background-color: black;}
/*导航结束*/
.banner{
    width: 100%;height: 300px;
    background: url("../img/headline.jpg") no-repeat top center;
    position: relative;
}
.banner .title{
    background: linear-gradient(to bottom right,rgba(0,0,0,0.6),rgba(0,0,0,0));
    color: white;
    width: 1240px;height: 200px;
    padding: 100px 0 0 200px;
}
.banner .title h1{font-size: 40px;}
/*banner结束*/
article{width: 1260px;margin: 30px auto;}
/*left*/
.left{color:#666;font-size: 20px;width: 840px;float: left;position: relative}
section{margin-bottom: 30px;}
section .title{
    border-bottom: 1px dashed #999;
    font-size: 32px;font-weight: bold;
    height: 50px;
}
section .select{margin: 15px 0;}
section .select a{
    display: inline-block;
    margin-left: 10px;
    width: 55px;height: 28px;line-height: 28px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
section .select a:hover,.a_active{
    background-color: #458b00;
    color: white;
}
section .form label{
    margin-right: 30px;
    height: 50px;line-height: 50px;
}
section .form label input{
    color: #666;
    font-size: 16px;
    padding-left:10px;
    margin-left: 15px;
    width: 200px;height: 32px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
section .form button{
    border-radius: 5px;
    background-color: #ff6600;
    color: white;
    font-size: 20px;
    border: none;
    height: 80px;width: 100px;
    position: absolute;
    right: 50px;
    top:120px;
    cursor:pointer;
}
table {
    background-color: transparent;
}

th {
    text-align: center;
}
td{
    text-align: center;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody {
    border-top: 2px solid #ddd;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.orange{color: #ff6600;}
.btn_orange{
    background-color: #ff6600;
    color: white;
    text-align: center;
    font-size: 18px;
    width: 52px;height: 28px;line-height: 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*右侧*/
.right{color: #666; font-size: 16px;width: 410px;float: right;}
.r0{
    border: 1px solid #eee;
    margin-bottom: 10px;
}
.r0 .r_title{
    font-size: 20px;font-weight: bold;
    background-color: #fafafa;
    width: 100%;height: 38px;line-height: 38px;
    text-indent: 6px;
    text-align: left;
}
.r0_span{padding: 15px 0 10px 15px;}
.r0_span span{
    display: inline-block;
    width: 120px;height: 34px;line-height: 34px;
    font-weight: 600;
    background-color: #eee;
    margin: 0 5px 5px 0;
    text-align: center;
    color: #999;
    cursor:pointer;
}
.r0_span span:hover{
    background-color: #458b00;
    color: #fff;
}
.r2{text-align: center;}
.r2 .r_mid{
    text-align: center;
    display: inline-block;
    margin:10px 5px 0 5px;
}
.r2 .r_mid img{cursor:pointer;}
.r3{padding-bottom: 10px;}
.r3_box{
    background: #eee url("../img/trea1.png") no-repeat 15px center;
    width: 170px;
    height: 35px;line-height: 35px;
    text-indent: 38px;
    display: inline-block;
    margin: 10px 0 0 20px;
    cursor:pointer;
}
/*右侧结束*/
/*footer部分*/
footer{width: 100%;clear: both;}
.foot1{
    width: 100%;
    height: 300px;
    background-color: #222;

}
.foot0{width: 85%;margin: 0 auto;}

.foot1_box{width: 355px; line-height: 38px;margin: 30px 30px 0 20px;float: left}

.foot1_box>span{color: #ccc;font-size: 26px;}
.foot1_box li a{color: #777;font-size: 18px;font-weight: 600;}

.foot2{
    background-color: #000;
    width: 100%;
    height: 80px;
    color: #777;
    text-align: center;
    line-height: 80px;
}

/*左侧开始*/